.modalities__grid {
    max-height: 40rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2.5rem;


    .modalities__grid--size {
        max-width: 33rem;
        width: 100%;

    }

    .modalities__grid-1 {
        grid-row: span 2 / span 2;

    }
    
    .modalities__grid-2 {
        grid-row: span 2 / span 2;

    }
    
    .modalities__grid-3 {
        grid-row: span 2 / span 2;

        transition: all ease 0.3s;


        &:hover {
            transform: scale(1.1);
            
        }
    }
    
    .modalities__grid-4 {
        grid-row: span 4 / span 4;

        transition: all ease 0.3s;

        &:hover {
            transform: scale(1.1);

        }
    }
    
    .modalities__grid-5 {
        grid-row: span 2 / span 2;
        grid-row-start: 3;

    }
    
    .modalities__grid-6 {
        grid-row: span 2 / span 2;
        grid-row-start: 3;

    }
    
    .modalities__grid-7 {
        grid-row: span 2 / span 2;
        grid-row-start: 3;

        transition: all ease 0.3s;

        &:hover {
            transform: scale(1.1);

        }
    }

    .modalities__grid-img--size {
        width: 100%;
        height: 100%;

        object-fit: cover;

        border: 0;
        border-radius: 2rem;

        box-shadow: var(--shadow);

    }

    .modalities__grid-text {
        font-size: 1.5rem;

        color: var(--primary-gray);
        
        margin-top: 1rem;

    }
}

@media (width <= 768px) {
    .modalities__grid {
        max-height: none;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 3rem;

        .modalities__grid--size {
            max-width: 35rem;
            width: 100%;
        
        }

        .modalities__grid-1 {
            grid-row: span 1 / span 2;

        }
        
        .modalities__grid-2 {
            grid-row: span 2 / span 3;

        }
        
        .modalities__grid-3 {
            grid-column: span 2 / span 2;

        }
        
        .modalities__grid-4 {
            grid-column: span 2 / span 2;

        }
        
        .modalities__grid-5 {
            grid-row: span 2 / span 2;
        
        }
        
        .modalities__grid-6 {
            grid-row: span 2 / span 2;
        
        }
        
        .modalities__grid-7 {
            grid-column: span 2 / span 2;
        
        }

        .modalities__grid-img--size {
            width: 100%;

            object-fit: cover;

            border: 0;
            border-radius: 2rem;

            box-shadow: 0px 8px 24px 0px rgba(58, 53, 65, 20%);

        }
    }
}