.hero, .hero__banner {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.hero {
    min-height: 100vh;

    height: 100%;

    background-image: url("/public/hero-image.jpg");
    background-color: var(--primary-black);
    background-size: cover;
    background-position: center calc(100% + 100px);
    background-repeat: no-repeat;

    padding: 8.7rem 6rem 0rem 6rem;

    .hero__banner {
        gap: 2.4rem;
    }

    .hero__banner-title {
        color: var(--secondary-white);

        font-size: 6rem;
    }

    .hero__banner-text {
        max-width: 51.2rem;

        color: var(--primary-gray);

        font-size: 1.6rem;
    
    }

    .hero__banner-btn {
        max-width: 13.1rem;

        margin-top: 4rem;

        padding: 1rem 2rem;

        border: none;
        border-radius: 0.8rem;

        font-weight: bold;

        cursor: pointer;

    }

    .hero__banner-social {
        margin-top: .8rem;

    }

    .hero__banner-social-item {
        color: var(--secondary-white);

        margin-right: 2.4rem;

        cursor: pointer;

    }
}