.hero {
    min-height: 100vh;

    height: 100%;

    background-image: url("/hero-image.jpg");
    background-color: var(--primary-black);
    background-size: cover;
    background-position: center calc(100% + 100px);
    background-repeat: no-repeat;

    padding: 8.7rem 4rem 0rem 4rem;

    &__banner {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 2.4rem;

        &-title {
            color: var(--secondary-white);
    
            font-size: 6rem;
        }
    
        &-text {
            max-width: 51.2rem;
    
            color: var(--primary-gray);
    
            font-size: 1.6rem;
        
        }
    
        &-btn {
            max-width: 13.1rem;
    
            margin-top: 4rem;
    
            padding: 1rem 2rem;
    
            border: none;
            border-radius: 0.8rem;
    
            font-weight: bold;
    
            cursor: pointer;
    
        }
    }

    .hero__banner-btn a {
        width: 100%;
        height: 100%;

        color: var(--primary-black);

        text-decoration: none;

        cursor: pointer;
    }

    &-social {
        margin-top: .8rem;

        &-item {
            color: var(--secondary-white);
    
            margin-right: 2.4rem;
    
            cursor: pointer;
    
        }
    }

}