.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-title {
        font-size: 2rem;
        font-weight: bold;

        color: var(--terciary-black);

        text-decoration: none;

        cursor: pointer;
    }

    &-text {
        max-width: 90%;

        font-size: 1.6rem;

        text-align: justify;

        color: var(--terciary-black);
    }

    &-email {
        font-size: 1.4rem;

        color: var(--terciary-black);
    }

    &-social {
        display: flex;
        gap: 2rem;

        color: var(--terciary-black);

        &-item {
            cursor: pointer;

            transition: all ease 0.3s;

            &:hover {
                    transform: scale(1.1);

            }
        }
    }
}
