.modalities {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 4rem;

    .modalities__title {
        font-size: 4rem;
        
        color: var(--secondary-gray);

    }

    .modalities__text {
        max-width: 70rem;

        text-align: center;

        color: var(--primary-gray);

    }
}

@media (width <= 768px) {
    .modalities {
        padding: 4rem 4rem;

        .modalities__title, .modalities__text {
            margin-bottom: 4rem;
        }

    }
}