.header {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6rem;

    padding: 0 2rem;

    background-color: var(--secondary);

    color: var(--terciary);

    .header__logo {
        font-size: 2rem;
        font-weight: bold;

        cursor: pointer;

    }

    .header__btn {
        border: 0;
        border-radius: 0.8rem;

        padding: 1rem 2rem;

        cursor: pointer;
    }
}