.header {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--header-height);

    padding: 0 6rem;

    background-color: var(--primary-black);

    color: var(--secondary-white);

    .header__logo {
        font-size: 2rem;
        font-weight: bold;

        cursor: pointer;

    }

    .header__navbar {
        display: flex;
        align-items: center;
        gap: 2.4rem;

    .header__navbar-item {
        cursor: pointer;

        }
    }

    .header__btn {
        border: 0;
        border-radius: 0.8rem;

        padding: 1rem 2rem;

        font-weight: bold;

        cursor: pointer;
    }
}