.status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    height: 15.5rem;

    color: var(--secondary-white);
    
    text-align: center;

    background-color: var(--secondary-black);
}