.footer {
    width: 100%;

    padding: 0 4rem;

    .footer-content, .footer-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 6rem;
    }

}